
<form method="POST" action="/game/new" role="form">
	<div class="form-group">
		<label for="title">Title</label>
		<input id="title" name="title" type="text" class="form-control" required placeholder="A name for this individual game">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input id="description" name="description" type="text" class="form-control" required placeholder="A short description of the backstory to the game">
	</div>
	<button type="submit" class="btn">Create</button>
</form>